body
{
	font-family: Times New Roman;
	background-color: #F8F8FF;
} /*body*/



h1
{
	font-family: Helvetica;
	text-align: center;
} /*h1*/



p.blocktext
{
    margin-left: auto;
    margin-right: auto;
    width: 640;
}



iframe
{
	display: block;
	width: 40em;
	margin: auto;
	margin-top: 50;
	margin-bottom: 50;
	border: 0;

	width: 640;
	height: 480;
}
