body
{
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia,
		serif; 
	background-color: #F8F8FF;
} /*body*/



h1
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	text-align: center;

	margin-top: 10;
	margin-bottom: 32;
} /*h1*/

h2
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 

	margin: auto;
	margin-top: 32;
	margin-bottom: 10;
} /*h1*/




p.blocktext
{
    margin: auto;
		margin-top: 5;
		margin-bottom: 5;
   /* width: 640;*/
}

div.code
{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", 
		"Lucida Typewriter", monospace;
	margin-top: 10;
	margin-bottom: 10;
	margin-left: 32;
	white-space: pre;
}

div.gsearch
{
	text-align: center;
	margin: auto;
}


div.img
{
	margin: auto;
	margin-top: 32;
	margin-top: 32;
	text-align: center;
	width: 480px;
}

img
{
	width: 100%;
}





iframe
{
	display: block;
	width: 40em;
	margin: auto;
	margin-top: 50;
	margin-bottom: 50;
	border: 0;

	width: 640;
	height: 480;
}



#page
{
	-moz-box-shadow: 5px 5px 5px 5px #777777; 
	-webkit-box-shadow: 5px 5px 5px 5px #777777;
	box-shadow: 5px 5px 5px 5px #777777;

	width: 800;
	height: auto;
	margin: auto;
	margin-top: 32;
	padding: 10;
}



#printable
{
	width: 640;
	height: auto;
	margin-top: 32;
	margin-bottom: 32;
	margin-left: 80
}



#homelinks
{
	font-family: Helvetica;
	text-align: center;

	margin-top: 20;
	margin-bottom: 20;

	word-spacing: 2em;

}

#listlinks
{
	font-family: Helvetica;
	margin-top:20;
	margin-bottom:20;
}

ol
{
	margin-top: 10;
	margin-bottom: 10;
}

ol.citations
{
	list-style-type: none;
	counter-reset: citcount;
}

ol.citations > li:before
{
	content:"["counter(citcount)"] ";
	counter-increment:citcount;
	width: 2em;
	margin-left: -2em;
}

ul
{
	margin-top: 10;
	margin-bottom: 10;
}

li
{
	margin-bottom: 10;
}
