body {
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
	background-color: #F8F8FF;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	text-align: center;
	margin-top: 10px;
	margin-bottom: 32px;
}

h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 

	margin: auto;
	margin-top: 32px;
	margin-bottom: 10px;
}

h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 

	margin: auto;
	margin-top: 32px;
	margin-bottom: 10px;
}

p.blocktext {
    margin: auto;
		margin-top: 15px;
		margin-bottom: 15px;
		line-height: 1.4em;
}

div.code {
	margin-top: 32px;
	margin-bottom: 32px;
	margin-left: 32px;
	overflow-x: auto;
}

div.gsearch {
	text-align: center;
	margin: auto;
}

div.img_span {
	overflow: auto;
	width: 100%;
}


div.img {
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	max-width: 550px;
	overflow: auto;
}

div.equation_img {
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	max-width: 550px;
}

div.sub_img_double{
	max-width: 45%;
  float: left;
}


div.sub_img_triple{
	max-width: 31%;
	margin: 1%;
  float: left;
}


pre.code {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", 
		"Lucida Typewriter", monospace;
	font-size: 0.8em;
}

img {
	width: 100%;
}

img.equation {
	width: auto;
}

img.automatic {
	width: auto;
}

.video-container {
  position: relative;
  width: 90%;
	height: 0;
  padding-bottom: 56.25%;
	margin: auto;
  margin-top: 50px;
	margin-bottom: 50px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.page {
	box-shadow: 0px 2px 5px 1px #777777;
	max-width: 800px;
	height: auto;
	margin: auto;
	margin-top: 32px;
	padding: 10px;
}

div.headerpage {
	max-width: 800px;
	height: auto;
	margin: auto;
	margin-top: 10px;
	padding: 10px;
}

div.printable {
	max-width: 640px;
	height: auto;
	margin-top: 32px;
	margin-bottom: 64px;
	margin-left: 10%;
	margin-right: 10%;
}

div.headprintable {
	max-width: 640px;
	height: auto;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 10%;
	margin-right: 10%;
}

div.homelinks {
	font-family: Helvetica;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	word-spacing: 2em;
}

div.listlinks {
	font-family: Helvetica;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.listpubs {
	font-family: Helvetica;
	margin-top: 20px;
	margin-bottom: 20px;
}

ol {
	margin-top: 10px;
	margin-bottom: 32px;
}

ol.citations {
	list-style-type: none;
	counter-reset: citcount;
}

ol.citations > li:before {
	content:"["counter(citcount)"] ";
	counter-increment:citcount;
	width: 2em;
	margin-left: -2em;
}

ul {
	margin-top: 10px;
	margin-bottom: 32px;
}

li {
	margin-bottom: 10px;
}

div.table {
	margin: auto;
	margin-top: 32px;
	margin-bottom: 32px;
	text-align: center;
	overflow-x: auto;
}

table.data {
	overflow: auto;
	border-collapse: collapse;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	background-color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	padding: 0px 3px;
}

table.data th {
	border-width: 1px 1px 2px;
	border-style: solid;
	border-color: black;
	padding: 0px 3px;
	word-wrap: break-word;
}

table.data th.title {
	border-style: solid;
	border-width: 1px 1px 2px;
	border-color: black;
	height: 25px;
	text-align: left;
	vertical-align: bottom;
	padding: 0px 3px;
}

table.data th.val {
	border-style: solid;
	border-width: 2px 0px;
	border-color: black;
	vertical-align: bottom;
	padding: 0px 3px;
}

table.data td {
	border: 1px solid black;
	padding: 0px 3px;
}

table.data td.val {
	border-style: none;
	padding: 0px 6px;
}

table.data td.left {
	border: 1px solid black;
	text-align: left;
	padding: 0px 3px;
}


table.listpubs {
	overflow: auto;
	width: 100%;
	border-collapse: collapse;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
	font-size: 12px;
	text-align: left;
	padding: 0px 3px;
}


table.listpubs td{
	vertical-align: top;
}


table.listpubs ul{
	padding-left: 20px;
}
