<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="../../css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../../js/googleAnalytics.js"></script>
<title>POST_TITLE</title>
</head>
<body>

<div class="headerpage">
<a href="../../">Home</a>
</div>


<div class="page">
<div class="printable">

<h1>POST_TITLE</h1>

<p class="blocktext">
BODY TEXT
</p>

<div class="code">
<pre class="code">$sudo cd /root
sudo: cd: command not found</pre>
</div>

<div class="img">
<a href="img/1.JPG">
<p><img src="img/1.JPG" alt="A breadboard layout plan"/></p>
</a>
Figure 1. A breadboard layout plan
</div>

</div>
</div>


<div class="page">
<div class="printable">

<h2>Notes</h2>
<p class="blocktext">
Written on the 4th of January in 2014
</p>

<h2>References</h2>
<ol class="citations">
<li>
P. Sung, "Making gorgeous LaTeX plots with Octave," 
<a href="http://psung.blogspot.com/2009/05/making-gorgeous-latex-plots-with-octave.html">
http://psung.blogspot.com/2009/05/making-gorgeous-latex-plots-with-octave.html"</a>
, Accessed October 30, 2014.
</li>
<li>
C. Vellage, "Using tables the smart way / generate tables with pgfplotstable," 
<a href="http://www.latex-tutorial.com/tutorials/advanced/lesson-9/">
http://www.latex-tutorial.com/tutorials/advanced/lesson-9/</a>
, Accessed October 30, 2014.
</li>
</ol>

</div>
</div>


</body>
</html>
